#caixa_de_notificacoes{
    margin-top: 2%;
    border: 3px solid #ff69b4;
    padding: 5px;
    background-color: aliceblue;
    border-radius: 8px;
    font-family: Geneva;
    min-height: 60vh;
    

}
    #caixa_de_notificacoes a{
        text-decoration: none;
        color: black;
        
    }
    .card{
       
        background-color: white;
        margin: 0.3%;
       
        padding: 5px;
        display: flex;
        align-items: center;
        /* justify-content: center; */
        gap: 5%;
    }
    .card:hover{
        border: 1.5px solid rgb(227, 64, 91);
    }
    .individuo{
        color: rgb(163, 11, 11);
    }

    .op_3{
        border: 2px solid var(--color-cinza-risco);
        border-radius: 10px;
        background-color: #14171b;
    }
    